.cmxform fieldset p.error label { color: red; }

div.container {
    background-color: #eee;
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

div.container ol li {
    list-style-type: disc;
    margin-left: 20px;
    color: red;
}

div.container { display: none }

.container label.error {
    display: inline;
}

form.cmxform { width: 30em; }

form.cmxform label.error {
    display: block;
    margin-left: 1em;
    width: auto;
}
